/clases/Lec03_Geometria/nbproject/private/
/tareas/hwk01wk02/build/
/tareas/hwk03wk05_listasGenericas/nbproject/private/
/tareas/hwk03wk05_listasGenericas/build/
/clases/Lec05/nbproject/private/
/clases/Lec05/build/
/clases/practica_wk6/nbproject/private/
/Investigaciones/Tarea_04_LecturaEscrituraTextoPlano/nbproject/private/
/clases/Lec07/nbproject/private/
/clases/asd/nbproject/private/
/clases/Cliente/nbproject/private/
/clases/Lec07/build/