/clases/Lec03_Geometria/nbproject/private/
/tareas/hwk01wk02/build/
/tareas/hwk03wk05_listasGenericas/nbproject/private/
/tareas/hwk03wk05_listasGenericas/build/
/clases/Lec05/nbproject/private/
/clases/Lec05/build/
/clases/practica_wk6/nbproject/private/
/Investigaciones/Tarea_04_LecturaEscrituraTextoPlano/nbproject/private/
/clases/Lec07/nbproject/private/
/clases/asd/nbproject/private/
/clases/Cliente/nbproject/private/
/clases/Lec07/build/
/talleres/Taller01/nbproject/private/
/talleres/Taller01/build/
/talleres/Taller01/dist/
/clases/Lec08/nbproject/private/
/clases/Lec08/build/
/clases/Lec08/dist/
/clases/Lec0802/nbproject/private/
/clases/Lec8/nbproject/private/
/clases/Lec8/build/
/clases/Lec082/nbproject/private/
/clases/Lec08_Adicional/nbproject/private/
/clases/Lec08_Client/nbproject/private/
/clases/Lec08_Client/build/
/clases/Lec08_Client/dist/
/clases/Lec09/nbproject/private/
/clases/Lec09/build/
/talleres/Taller02/nbproject/private/
/talleres/Taller02/build/
/talleres/Taller02/dist/
/clases/Lec08_Adicional/build/
/clases/Lec07_UDPConnection/nbproject/private/
/clases/Lec05_HilosThreadsRunnable/nbproject/private/
/clases/Lec08_TCP-IP_Chat_Adicional/nbproject/private/